[submodule "hexo/themes/yelee"]
	path = hexo/themes/yelee
	url = https://github.com/lu-front-end/hexo-theme-yelee.git
[submodule "hexo/themes/pure"]
	path = hexo/themes/pure
	url = https://github.com/lu-front-end/hexo-theme-pure.git
	branch = master
[submodule "hexo/themes/yilia-plus"]
	path = hexo/themes/yilia-plus
	url = https://github.com/lu-front-end/hexo-theme-yilia-plus.git
[submodule "hugo/themes/hugo-theme-stack"]
	path = hugo/themes/hugo-theme-stack
	url = https://github.com/lu-front-end/hugo-theme-stack.git
