[submodule "hugo-yelee/themes/hugo-theme-yelee"]
	path = hugo-yelee/themes/hugo-theme-yelee
	url = https://github.com/lu-front-end/hugo-theme-yelee.git
[submodule "hexo/themes/yelee"]
	path = hexo/themes/yelee
	url = https://github.com/lu-front-end/hexo-theme-yelee.git
[submodule "hexo/themes/pure"]
	path = hexo/themes/pure
	url = https://github.com/lu-front-end/hexo-theme-pure.git
	branch = master
