*.js linguist-language=javascript
*.ejs linguist-language=javascript
*.css linguist-language=javascript
*.md linguist-language=markdown
*.html linguist-language=html
*.styl linguist-language=javascript
#*.styl linguist-language=stylus
